$primary: rgb(205, 32, 31);
$secondary: #ffff;
$first:white;
$second:#090c31;
$third:#5853ff;
$dark:rgb(44,44,44);
$dark: #030303;
$text1: "Dancing Script";
$text2: "Roboto";
$text3: "Oswald";
$text4: "Crimson Text";
$text5: cursive;


